<mat-toolbar>
  <div class="links">
    <a class="cta" href="https://github.com/typebytes/angular-checklist" target="_blank">
      <i class="ti-github"></i>
      <span>GitHub</span>
    </a>
    <a class="cta" href="https://github.com/typebytes/angular-checklist/blob/master/CONTRIBUTING.md" target="_blank">
      <i class="hands-helping"></i>
      <span>Contribute</span>
    </a>
    <button class="cta" (click)="showAbout()">
      <i class="info"></i>
      <span>About</span>
    </button>
  </div>
  <ac-authors></ac-authors>
</mat-toolbar>
