@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/highlight.js/styles/ir-black.css';
@import './scss/theme.scss';
@import './scss/themify-icons';

html,
body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

a {
  color: mat-color($primary);
  text-decoration: none;
}
